.item-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(28, 28, 63);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.item-card img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}

.item-card h3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.item-card p{
  font-size: 1rem;
  margin-bottom: 1rem;
}

